<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Recuperação de Senha | The Octopus </title>
    <link rel="stylesheet" href="../css/style.css">
    <link rel="icon" href="../images/logoPolvo.png">
</head>

<body>

    <main class="mainrecsenha">

        <section class="s2">

            <section class="s1">

                <div class="cxs1">

                    <h3>Olá amigo(a)</h3>
                    <p>Parece que você esqueceu sua senha.</p>
                    <p>Fique tranquilo(a), nós te ajudaremos com isso.</p>

                </div>

            </section>

        </section>

        <section class="s3">

            <div class="cxs3">

                <h3> Esqueci minha senha</h3>
                <span class="border">_______</span>
                <p>Por favor, digite seu email no campo abaixo para enviarmos um link de recuperação de senha.</p>
                <input type="email" placeholder="Email">
                <a href="/redefinirsenha"><button type="submit"> Enviar </button></a>

            </div>

        </section>

    </main>

</body>

</html>