<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Redefinição de Senha | The Octopus</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css">
    <link rel="stylesheet" href="../css/style.css">
    <link rel="icon" href="../images/logoPolvo.png">
</head>
<body class="bodyred">

    <section class="sred">

    <div class="toast">

        <div class="toast-content">

            <i class="fas fa-solid fa-check check"></i>

            <div class="message">

                <span class="text text-1">Sucesso</span>
                <span class="text text-2">Sua senha foi redefinida</span>

            </div>

        </div>

        <i class="fa-solid fa-xmark close"></i>

        <div class="progress"></div>

    </div>
</section>

    <main class="mainredsenha">

        <section class="s2red">

            <h3> Redefinir minha senha</h3>
            <span class="border">_______</span>
            <p>Redefina sua senha nos campos abaixo.</p>
            <input type="password" placeholder="Nova Senha">
            <input type="password" placeholder="Repetir Nova Senha">
            <button>Redefinir Senha </button>

        </section>
        
    </main>

    <script src="../js/senhas/scriptred.js"></script>


</body>
</html>