<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Contato | The Octopus</title>
    <link rel="stylesheet" href="css/style.css">
    <link rel="icon" href="../public/images/logoPolvo.png">
</head>

<body id="bodycontato">

    <section>

        <div class="contato-container">

            <div class="form-container">

                <h3>Nos envie uma mensagem</h3>
                <form action="" class="contato-form">

                    <input type="text" placeholder="Seu Nome" required tabindex="1" autofocus>
                    <input type="email" name="" id="" placeholder="Seu email" required tabindex="2">
                    <textarea name="" id="" cols="30" rows="10" placeholder="Escreva sua mensagem aqui..." required
                        tabindex="3"></textarea>
                    <input type="submit" value="Enviar" class="enviarbtn">

                </form>

            </div>

            <div class="mapa">

                <iframe
                    src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d1893455.3705949874!2d-51.30713566657797!3d-22.043664747394285!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x949475d0750b1b3d%3A0x86a2c97c517c8093!2sEscola%20Sesi%20de%20Regente%20Feij%C3%B3%20-%20CE%20368!5e0!3m2!1spt-BR!2sbr!4v1701801350830!5m2!1spt-BR!2sbr"
                    style="border:0;" allowfullscreen="" loading="lazy"
                    referrerpolicy="no-referrer-when-downgrade"></iframe>

            </div>

        </div>

    </section>

</body>

</html>