<!DOCTYPE html>
<html lang="pt-br">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css">
  <link rel="stylesheet" href="css/style.css">
  <link rel="icon" href="../public/images/logoPolvo.png">
  <title> TheOctoplus </title>
</head>

<body data-bs-theme="" class="natura" id="equipepg">

  <nav class="navbar navbar-expand-lg bg-body-tertiary">
    <div class="container-fluid">
      <a class="navbar-brand" href="/index"> TheOctoplus <img id="logoPolvo" src="images/logoPolvo.png" width="25px"
          alt=""></a>
        
      <div class="collapse navbar-collapse" id="navbarSupportedContent">

      </div>
    </div>
    </div>
    </div>
  </nav>

  <h1 class="equipe"> Conheça nossa equipe </h1>

  <main id="telaequipe">
    <section id="conteinerMavi">
      <div class="oboticario">
        <div class="card imagesMaria" style="width: 18rem;">
          <img src="images/alysson.jpg" class="card-img-top nimg" alt="alysson">
          <div class="card-body ">
            <p class="card-text">Alysson Alves Fernandes Santos <br>
          </div>
          <div class="text-info">
            <p>Como estudante do curso técnico em Desenvolvimento de Sistemas no SENAI, estou dedicado a absorver
              conceitos essenciais e aplicá-los em projetos práticos. Com uma abordagem proativa e sede de aprendizado,
              busco aprimorar minhas habilidades em programação e desenvolvimento de software. Estou determinado a
              enfrentar desafios complexos, colaborar em equipe e contribuir para o avanço tecnológico..</p>
          </div>
          <div class="dicon">
            <a href="https://github.com/alysson-07"><i class="bi bi-github"></i></a>
          </div>
        </div>

        <div class="card imagesMaria" style="width: 18rem;">
          <img src="images/emanuel.jpg" class="card-img-top nimg" alt="emanuel">
          <div class="card-body">
            <p class="card-text">Emanuel Algusto Vilhone Reche <br> </p>
          </div>
          <div class="text-info">
            <p>
              Estou atualmente inscrito no curso técnico de Desenvolvimento de Sistemas no SENAI, onde mantenho o compromisso 
              de assimilar conceitos essenciais e aplicá-los de forma prática em projetos. Adoto uma postura proativa e busco 
              incessantemente o conhecimento, com o intuito de aprimorar minhas habilidades em programação e no desenvolvimento de software. 
              Meu foco é encarar desafios complexos com determinação, colaborar de maneira eficaz em equipe e contribuir de forma positiva para o 
              progresso tecnológico.</p>
          </div>
          <div class="dicon">
            <a class="jequiti" href="https://github.com/emnxy"><i class="bi bi-github avon"></i></a>
          </div>
        </div>

        <div class="card imagesMaria" style="width: 18rem;">
          <img src="images/fernanda.jpg" class="card-img-top nimg" alt="fernanda">
          <div class="card-body">
            <p class="card-text fernanda-text">Fernanda Carolina Batista de Souza <br> </p>
          </div>
          <div class="text-info">
            <p>Estudante do curso técnico integrado de Desenvolvimento de Sistemas na Escola SESI de Regente Feijó,
              cultivo relações exemplares com meus colegas de turma. Demonstro um firme compromisso em expandir minha
              base de conhecimento e busco incessantemente resolver minhas incertezas. Minhas competências incluem um
              domínio avançado de linguagens de programação, tais como HTML, CSS e JavaScript.</p>
          </div>
          <div class="dicon">
            <a class="jequiti" href="https://github.com/fernandaa-carolinaa"> <i class="bi bi-github avon"> </i></a>

          </div>
        </div>
      </div>


      <div class="dior">
        <div class="card imagesMaria" style="width: 18rem;">
          <img src="images//geovana.jpg" class="card-img-top nimg" alt="geovana">
          <div class="card-body">
            <p class="card-text">Geovana Pissinin Menossi <br> </p>
          </div>
          <div class="text-info">
            <p>Atualmente, estou no curso técnico de Desenvolvimento de Sistemas no SESI de Regente Feijó, mantendo
              relações colaborativas com colegas. Comprometida com os estudos, busco constantemente ampliar meu
              conhecimento, destacando-me pela habilidade avançada em linguagens como HTML, CSS e JavaScript. Essas
              competências fornecem uma base sólida para enfrentar desafios no desenvolvimento de sistemas com confiança
              e eficiência.</p>
          </div>
          <div class="dicon">
            <a class="jequiti" href="https://github.com/geovana-menossi1"><i class="bi bi-github avon"></i></a>
          </div>
        </div>

        <div class="card imagesMaria" style="width: 18rem;">
          <img src="images//laura.jpg" class="card-img-top nimg" alt="laura">
          <div class="card-body">
            <p class="card-text">Laura Pimenta de Oriveira <br> </p>
          </div>
          <div class="text-info">
            <p>No ambiente do curso técnico integrado em Desenvolvimento de Sistemas da Escola SESI de Regente Feijó,
              mantenho relações sólidas com meus colegas de turma, demonstrando um comprometimento constante com a
              expansão do meu conhecimento. Sempre que me deparo com dúvidas, minha busca por soluções é incansável.
              Além disso, possuo um domínio avançado em linguagens de programação e marcação, como HTML, CSS e
              JavaScript, que me capacitam a enfrentar desafios complexos com confiança.</p>
          </div>
          <div class="dicon">
            <a class="jequiti" href="https://github.com/oliveiralaura"> <i class="bi bi-github avon"></i></a>

          </div>
        </div>

        <div class="card imagesMaria" style="width: 18rem;">
          <img src="images//livia.jpg" class="card-img-top nimg" alt="livia">
          <div class="card-body">
            <p class="card-text">Lívia Maria Durval Beserra <br> </p>
          </div>
          <div class="text-info">
            <p>Estou matriculada no curso técnico de Desenvolvimento de Sistemas na Escola SESI de Regente Feijó e
              mantenho boas relações com meus colegas de turma. Tenho um compromisso forte em aprofundar meus
              conhecimentos em linguagens como HTML, CSS e JavaScript. Além disso, possuo formação básica em Língua
              Brasileira de Sinais (LIBRAS), promovendo comunicação inclusiva. Estou ansiosa para continuar crescendo na
              área de desenvolvimento de sistemas e contribuir para projetos futuros.</p>
          </div>
          <div class="dicon">
            <a class="jequiti" href="https://github.com/liviamaria-d"><i class="bi bi-github avon"></i></a>

          </div>

        </div>
      </div>


      <div class="eudora">
        <div class="card imagesMaria" style="width: 18rem;">
          <img src="images//mariavitoria.jpg" class="card-img-top nimg" alt="mariav">
          <div class="card-body">
            <p class="card-text">Maria Vitória da Silva Souza <br> </p>
          </div>
          <div class="text-info">
            <p>Atualmente estou cursando o segundo ano do ensino médio integrado com o curso profissionalizante de
              Desenvolvimento de Sistemas na Escola SESI de Regente Feijó nº368. A dinâmica geralmente é muito
              colaborativa e diversificada, com pessoas trazendo diferentes habilidades, perspectivas e ideias para o
              projeto. Tenho facilidade de comunicação e capacidade de compreender e aplicar as linguagens de
              programação e marcação (HTML, CSS e JavaScript). </p>
          </div>
          <div class="dicon">
            <a class="jequiti" href="https://github.com/mariavitoria-ssz"><i class="bi bi-github avon"></i></a>

          </div>
        </div>

        <div class="card imagesMaria" style="width: 18rem;">
          <img src="images//mel.jpg" class="card-img-top nimg" alt="miel">
          <div class="card-body">
            <p class="card-text">Miel Jazmin Velázquez da Silva <br> </p>
          </div>
          <div class="text-info">
            <p>Sou uma estudante matriculada no curso técnico do SENAI "Desenvolvimento de Sistemas", compromissada em
              absorver conceitos-chave e aplicá-los em projetos práticos. Com uma abordagem proativa e sempre em busca
              por aprendizado, tenho como objetivo aprimorar minhas habilidades em programação e
              desenvolvimento de software. Estou determinado a enfrentar desafios complexos, colaborar em equipe e
              contribuir positivamente para o avanço tecnológico.</p>
          </div>
          <div class="dicon">
            <a class="jequiti" href="https://github.com/MielVelazquezz"><i class="bi bi-github avon"></i></a>
          </div>
        </div>

        <div class="card imagesMaria" style="width: 18rem;">
          <img src="images//rafael.jpg" class="card-img-top nimg" alt="rafael">
          <div class="card-body">
            <p class="card-text">Rafael Silva Tomasetti <br> </p>
          </div>
          <div class="text-info">
            <p>Estudante no 2º ano do Ensino Médio e no curso técnico de Desenvolvimento de Sistemas no SESI de Regente
              Feijó. Destaco habilidades em oratória, colaboração em equipe e criatividade. Comprometido em aprofundar
              conhecimentos em HTML, CSS e JavaScript, além de possuir formação básica em Língua Brasileira de Sinais
              (LIBRAS). Animado para contribuir em projetos futuros e continuar minha jornada na área.
            </p>
          </div>
          <div class="dicon">
            <a class="jequiti" href="https://github.com/raf-st"><i class="bi bi-github avon"></i></a>
          </div>
        </div>
      </div>
    </section>
  </main>

</body>
<script src="js/codigo.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js"
  integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm" crossorigin="anonymous"></script>

</html>