<!DOCTYPE html>
<html lang="pt-br">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <title>Política de Privacidade</title>
  <link rel="stylesheet" type="text/css" href="css/style.css">
  <link rel="icon" href="../public/images/logoPolvo.png">
</head>

<body id="privacypolicy">

  <div class="wrapper flex_align_justify">

    <div class="tc_wrap">

      <div class="tabs_list">

        <ul>
          <li data-tc="tab_item_1" class="active">Informações Pessoais</li>
          <li data-tc="tab_item_2">Como usamos suas informações</li>
          <li data-tc="tab_item_3">Compartilhamentos de Informações</li>
          <li data-tc="tab_item_4">Proteção de Informações</li>
          <li data-tc="tab_item_5">Seus Direitos</li>
          <li data-tc="tab_item_6">Menores de idade</li>
          <li data-tc="tab_item_7">Alterações nesta Política</li>
          <li data-tc="tab_item_8">Contato</li>
        </ul>

      </div>

      <div class="tabs_content">

        <div class="tab_head">
          <h2>Termos & Condições</h2>
        </div>

        <div class="tab_body">

          <div class="tab_item tab_item_1">

            <h3>Informações Pessoais.</h3>

            <p>Para fornecer nossos serviços, podemos coletar as seguintes informações pessoais:</p>

            <ul>

              <li>•Nome completo;</li>
              <li>•Endereço de e-mail;</li>
              <li>•Endereço de envio para informações de pagamento (nós não armazenamos dados de pagamentos; eles são
                processados por parceiros confiáveis)</li>
              <li>•Informações de login da conta;</li>
              <li>•Histórico de compras;</li>
              <li>•Comentários e feedbacks;</li>
              <li>•Preferências de comunicação.</li>

            </ul>

          </div>

          <div class="tab_item tab_item_2" style="display: none;">

            <h3>Como usamos suas informações.</h3>

            <p>Utilizamos suas informações pessoais para os seguintes fins:</p>

            <ul>

              <li>•Processar e enviar pedidos;</li>
              <li>•Manter sua conta e histórico de compras;</li>
              <li>•Fornecer suporte ao cliente;</li>
              <li>•Personalizar sua experiência no site;</li>
              <li>•Enviar atualizações e promoções por e-mail (com o seu consentimento);</li>
              <li>•Melhorar nosso site e serviços;</li>
              <li>•Cumprir obrigações legais.</li>

            </ul>

          </div>

          <div class="tab_item tab_item_3" style="display: none;">

            <h3>Compartilhamentos de Informações.</h3>

            <p>Não divulgamos suas informações pessoais a terceiros, exceto quando
              essencial para a execução de nossos serviços, como processamento de
              pagamento, envio de pedidos e cumprimento de obrigações legais.
            </p>

            <p>Asseguramos que quaisquer terceiros com os quais compartilhamos informações
              garantam a confidencialidade e segurança desses dados.</p>

          </div>

          <div class="tab_item tab_item_4" style="display: none;">

            <h3>Proteção de Informações.</h3>

            <p>Implementamos medidas de segurança para proteger suas informações pessoais
              contra acesso não autorizado, uso indevido ou divulgação. No entanto, nenhum
              sistema é completamente seguro, e não podemos garantir a segurança absoluta
              dos seus dados.</p>

          </div>

          <div class="tab_item tab_item_5" style="display: none;">

            <h3>Seus Direitos.</h3>

            <p>Você tem o direito de acessar, corrigir ou excluir suas
              informações pessoais. Você também pode optar por não receber
              comunicações promocionais. Entre em contato conosco para exercer
              esses direitos.</p>

          </div>

          <div class="tab_item tab_item_6" style="display: none;">

            <h3>Menores de Idade.</h3>

            <p>Nosso site é direcionado a maiores de 18 anos,
              e não coletamos deliberadamente informações pessoais
              de indivíduos menores de idade. Caso você seja menor, por favor,
              evite utilizar nosso site.</p>

          </div>

          <div class="tab_item tab_item_7" style="display: none;">

            <h3>Alterações nesta Política.</h3>

            <p>Podemos atualizar esta política de privacidade periodicamente.
              A versão mais recente será publicada em nosso site, e a data de
              atualização será alterada. Recomendamos que você reveja periodicamente
              esta política para ficar informado sobre como suas informações estão sendo
              protegidas e usadas.</p>

          </div>

          <div class="tab_item tab_item_8" style="display: none;">

            <h3>Contato.</h3>

            <p>Se você tiver dúvidas, comentários ou preocupações sobre esta
              política de privacidade ou sobre como tratamos suas informações pessoais,
              entre em contato conosco pelo nosso E-mail: <strong>TheOctopusInterprise@gmail.com</strong> </p>

            <p>Esta política de privacidade reflete nossas práticas de privacidade atuais
              e pode ser atualizada no futuro. Ao continuar a usar nosso site,
              você concorda com esta política.</p>

          </div>

        </div>

      </div>

    </div>
  </div>

  <script type="text/javascript" src="js/codigo.js"></script>

</body>

</html>