<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> The Octoplus </title>
    <link rel="stylesheet" href="css/style.css">
    <link rel="icon" href="images/logoPolvo.png">
</head>

<body id="home">

    <div class="hero">

        <div class="navbar">

            <div class="cxinvisivel"></div>
            <a href="/logincadastro"><button class="btnHome" type="button"> Login | Cadastro </button></a>

        </div>



        <div class="content">

            <p> Bem-vindo(a) ao </p>
            <h1> TheOctoplus </h1>
            <a href="/Pindex"><button type="button" class="btnHome"> Dar uma mergulhada </button></a>

        </div>

        <div class="side-bar">

            <!-- <img src="images/menu.png" class="menu" alt="menu"> -->

            <div class="socias-links">

                <a href="/equipe"><img src="images/icons/usuarios-alt.png" alt="sobre nossa equipe" title="sobre nossa equipe"></a>
                <a href="/sobre"><img src="images/icons/informacoes.png" alt="sobre a empresa" title="sobre a empresa"></a>
                <a href="/politica"><img src="images/icons/escudo-exclamacao.png" alt="termos de política e privacidade" title="termos de política e privacidade"></a>
                <a href="/contato"><img src="images/icons/codigo-de-comentario.png" alt="enviar uma mensagem para os desenvolvedores" title="enviar uma mensagem para os desenvolvedores"></a>
                <a href="https://www.instagram.com/theoctopusinterprise/?utm_source=ig_web_button_share_sheet&igshid=OGQ5ZDc2ODk2ZA=="><img src="images/icons/instagram.png" title="instagram da empresa" alt="instagram da empresa"></a>


            </div>

            <div class="useful-links">

                <!-- <img src="images/share.png" alt="compartilhar"> -->
                
            </div>

        </div>

        <div class="bolhas">

            <img src="images/bubble.png" alt="bolhas">
            <img src="images/bubble.png" alt="bolhas">
            <img src="images/bubble.png" alt="bolhas">
            <img src="images/bubble.png" alt="bolhas">
            <img src="images/bubble.png" alt="bolhas">
            <img src="images/bubble.png" alt="bolhas">
            <img src="images/bubble.png" alt="bolhas">

        </div>

    </div>

</body>

</html>