<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sobre Nós | The Octopus</title>
    <link rel="stylesheet" href="css/style.css">
    <link rel="icon" href="../public/images/logoPolvo.png">
</head>

<body id="bodysobre">

    <section class="hero">

        <div class="heading">

            <h1>Sobre Nós</h1>

        </div>

        <div class="container-sobre">

            <div class="hero-content">
                <h2>Bem-vindo(a) ao nosso site.</h2>
                <p>Na TheOctoplus, entendemos que a personalização é essencial
                    para que os jogadores se destaquem em uma variedade de títulos.
                    É por isso que criamos uma plataforma exclusiva que oferece as
                    skins perfeitas para transformar sua experiência de jogo.</p>


            </div>

            <div class="imagem-grupo">

                <!-- imagem do grupo aqui -->
                <img src="images/equipeFoto.jpg" alt="nosso grupo">

            </div>
        </div>

    </section>

</body>

</html>