<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Listando Descontos</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.1/font/bootstrap-icons.css">
</head>
<body>
      <header class="header">
        <div class="ha">
            <h1>Perentino</h1>
        <a href="/home"><button class="btn btn-light">Home</button></a>
        <a href="/cupom/lista"><button class="btn btn-light">Cupons</button></a>
        <a href="/descontos/lista"><button class="btn btn-light">Descontos</button></a>
        <a href="/skin/lista"><button class="btn btn-light">Skins</button></a>
        <a href="/venda/lista"><button class="btn btn-light">Vendas</button></a>
        <a href="/promocao/lista"><button class="btn btn-light">Promoções</button></a>
        <a href="/pagina/listatrativos"><button class="btn btn-light">Atrativos</button></a>
        <a href="logar.html"><button class="btn btn-light m-5">Sair</button></a>
         </div>
    <main>
        <h2>Listando Descontos</h2>
        <section class="list">
            <div class="row">
              <a href="/descontos" class="btn" style="color: black;"><button style="width: 99%; margin: 8px;" class="btn bg-danger">Cadastrar Descontos</button></a>
            </div>
            <div class="row border border-1 border-Success rounded m-2 p-1 d-flex">
                <div class="col border-end d-flex justify-content-center align-self-center"><h6>Id do desconto</h6></div>
                <div class="col border-end d-flex justify-content-center align-self-center"><h6>Valor do desconto</h6></div>
          
                  
                <div class="col border-end d-flex justify-content-center align-self-center"><h6>Atualizar</h6></div>
                <div class="col d-flex justify-content-center align-self-center"><h6>Deletar</h6></div>
            </div>

            <% for(let desconto of descontos){  %>

              <!-- Inicio do loop de dados -->
              <div class="row border border-1 border-warning rounded m-2 p-1 d-flex ">
                <div class="col border-end d-flex justify-content-center align-self-center"><%= desconto.id %></div>
                <div class="col border-end d-flex justify-content-center align-self-center"><%= desconto.valor %></div>
               
                  
                  <div class="col border-end d-flex justify-content-center align-self-center"><button onclick="atualizar(<%= desconto.id %>)" class="btn bg-success"><i class="bi bi-pen"></i>  Update</button></div>
                  <div class="col d-flex justify-content-center align-self-center"><button onclick="apagar(<%= desconto.id %>)" class="btn bg-danger"> <i class="bi bi-trash3"></i> Delete</button></div>
              </div>
             
            <% } %>
            
           
            
        </section>

    </main>
    <script>

      async function apagar(id){
       
        
        const resposta = await fetch('apagar/'+id, { method:'DELETE' })
        const json = await resposta.json()
        const status = await json

        console.log(status)

        location.reload()
      }

      function atualizar(id){
          location.href = "alterar/"+id
      }

    </script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
</body>
</html>