<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cadastrar Descontoss</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
</head>
<body>
    <main>
        <h2> Atualizar Descontos</h2>
        <section id="alteratrativos">
            <form id="form-desconto">
                <!-- Iniciando primeira -->
                <div class="row">
                    <label for="txtid" class="form-label">Id Desconto</label>
                    <input value="<%= desconto.id %>" id="txtid" name="txtid">
                    <div class="col">                       
                        <label for="txtvalordesconto" class="form-label" >Valor do Desconto</label>
                        <input value="<%= desconto.valor%>" type="text" class="form-control" name="txtvalordesconto" id="txtvalordesconto" tabindex="1" autofocus>
                    </div>
                   
                </div>
                 <!-- Iniciando segunda linha -->
                
                 <a href="/descontos/lista" onclick="atualizar();">
                    <input type="button" class="btn btn-warning mt-4" value="Cadastrar" name="btcadcupons" id="btcadcupons" tabindex="5">
                </a>
            </form>
        </section>
    </main>

    <script>
document.getElementById("form-desconto").addEventListener("submit", (e) => {
            e.preventDefault()
            atualizar()
             } )
        async function atualizar(){

            const desconto = {
                "id": document.getElementById("txtid").value,
                "valor": document.getElementById("txtvalordesconto").value,
            }

              
            const resposta = await fetch('/desconto/alterar', { 
                method:'PUT',
                headers: {
                    'Content-Type':'application/json'
                },
                body: JSON.stringify(desconto)
             })
            const json = await resposta.json()
            const status = await json

            console.log(desconto)

        }

    </script>
    
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
</body>
</html>